/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Press+Start+2P&display=swap');

body {
  margin: 0; 
  padding: 0; 
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, rgba(0,212,255,0.6), rgba(178,6,200,0.5));
}

.Home, 
.quiz,
.configuration,
.play,
.high-scores {
  width: 100%;
  height: 100vh;
}

.card {
  border: none!important;
  width: 25rem
}

.card .card-body input,
.card .card-body select {
  background-color: transparent;
}

th, td {
  background-color: transparent!important;
}

@media screen and (max-width: 400px) {
  .card {
    width: 100%!important;
  }
}